@media (min-width: 500px) {
    .temple-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}

    .temple-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
